name: build-and-test

on:
  pull_request:
  merge_group:
  push:
    branches-ignore:
      - gh-readonly-queue/main/**

jobs:
  build-kernels:
    uses: ./.github/workflows/build-kernels.yml
    secrets: inherit

  build-and-test:
    runs-on: ${{ github.repository_owner == 'sched-ext' && fromJSON('[ "self-hosted", "linux", "x64", "metal:nixos" ]') || 'ubuntu-latest' }}
    needs: build-kernels
    steps:
      - uses: actions/checkout@v4

      - name: Install Nix
        uses: ./.github/actions/install-nix
        with:
          cachix-auth-token: '${{ secrets.CACHIX_AUTH_TOKEN }}'

      - name: Build
        run: nix run ./.nix#ci -- build

      - name: Test
        run: nix run ./.nix#ci -- test

      - name: Veristat
        run: nix run ./.nix#ci -- veristat

  required-checks:
    needs: [
      build-and-test,
    ]
    runs-on: ${{ github.repository_owner == 'sched-ext' && fromJSON('[ "self-hosted", "linux", "x64", "metal:nixos" ]') || 'ubuntu-latest' }}
    if: always()
    env:
      NEEDS_CONTEXT: ${{ toJSON(needs) }}
    steps:
      - uses: actions/checkout@v4
      - run: nix run ./.nix#nix-develop-gha -- ./.nix#gha-build-kernels
      - run: echo "$NEEDS_CONTEXT" | jq -e 'to_entries | all(.value.result == "success")'
